body {
    font-family: "Lucida Console", Monaco, monospace;
}

#status-bar, #container {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    max-width: 1000px;
    font-family: "Lucida Console", Monaco, monospace;
    color: #000;
}

#inactive-count {
    color: #FFCF79;
}

#infected-count {
    color: #92CD00;
}

.cell {
    float: left;
    width: 15px;
    height: 15px;
    border: solid 1px #ccc;
    border-radius: 8px;
}

.row {
    float: left;
    width: 100%;
}

.active {
    background-color: #92CD00;
    animation: pulse 0.2s 0s alternate;
}

.overloaded {
    background-color: #FFCF79;
    animation: pulse 0.2s 0s alternate;
}

@keyframes pulse {
    from { box-shadow: 0px 0px 10px 3px #E5E4D7; }
    to { box-shadow: 0px 0px 20px 5px #E5E4D7; }
}

#chartContainer {
    position: fixed;
    left: 90%;
}
